<form id='login_form' action="/login" method="post">
    <div class="form-group">
        <div>
            <label for="email">Email:</label>
        </div>
        <div>
            <input type="email" id="email" name="email" required>   
        </div>
    
       
    </div>
    <div class="form-group">
        <div>
            <label for="password">Password:</label>
        </div>
        <div>
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
